[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
scipy = "*"
matplotlib = "*"
seaborn = "*"
japanize-matplotlib = "*"
pandas = "*"
scikit-learn = "*"
tqdm = "*"
arviz = "*"
pymc3 = "*"
theano-pymc = "*"
pyro-ppl = "*"
torch = "*"
numpyro = "*"
jax = "*"
tensorflow-probability = "*"
tensorflow = "*"
gpytorch = "*"
jupyter = "*"

[dev-packages]

[requires]
python_version = "3.10"
